*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: sans-serif;
}
header{
    background-image:url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 760px;
}
nav{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.5));
    height: 50px;
    color:white;
    display: flex;
    gap: 40px;
    padding:10px ;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.menu{
    display: flex;
    gap: 40px;
    font-size: 10px;
    padding: 10px;
    cursor: pointer;
}
.icon{
    display: flex;
    gap: 40px;
    font-size: 20px;
    cursor: pointer;
}
.text{
    color:white;
    font-weight: 800;
    padding: 100px;
}
.text h1{
    border: 1px solid;
    border: none;
    font-size: 170px;
    width: 650px;
    text-align: center;
}
.text p{
    font-size: 25px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
/* SECTION-1 */
.section-1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text1{
    border:1px solid rgb(167, 167, 167);
    width:100%;
    height: 350px;
    text-align: center;
}
.icon1{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.icon1 h1{
    color: rgb(0, 39, 90);
    font-size: 25px;
    padding-top: 30px;
    font-weight: 800;
}
.icon1 i{
   font-size: 30px;
}
.text2 p{
    font-size:15px;
    padding-top: 30px;
}
 button{
    color: rgb(0, 0, 255);
    border: none;
    background-color: white;
    padding-top: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
 button:hover{
    color: red;
}
/* SECTION-2 */
.section-2{

}
.text3{
    background-color: rgb(223, 222, 222);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.icon2 h2{
    color:rgb(47, 46, 46);
}
.icon2 h1{
    padding: 30px;
    font-size: 35px;
    color:  rgb(0, 39, 90);
}
.icon2 p{
    font-size: 15px;
   
}
.text5 del{
    font-size: 20px;
    color: black;
}  
.text5 h1{
    font-size: 35px;
    padding: 40px;
    color: rgb(0, 39, 90);
}
.text6{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.text7{
    border: 1px solid;
    border: none;
    border-radius: 15px;
    background-color: white;
    width:60px;
    height: 80px;
    text-align: center;
}
.text7 h1{
    color: rgb(0, 39, 90);
    padding-top:10px;
    font-size: 20px;
}
.text7 p{
    font-weight: 800;
    padding-top:15px;
    font-size: 10px;
}
.text8{
    padding: 30px;
}
.text8 button{
    border: none;
    background-color: rgb(0, 0, 255);
    color: white;
    height: 35px;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
}
.text8 button:hover{
    background-color:red;
}
.image img{
    padding-top: 80px;
}
/* SECTION-3 */
.section-3{

}
.text9{
    display: flex;
    justify-content: center;
}
.image1{
    border:1px solid grey;
    width:100%;
    text-align: center;
}
.image1 h1{
    font-weight: 800;
    font-size: 13px;
    color:rgb(0, 39, 90);
}
.image1 p{
    font-weight: 800;
    font-size: 15px;
    color:  rgb(0, 0, 255);
}
.image1 del{
    font-size: 12px;
    padding: 0 20px;
    color:rgb(89, 87, 87);
}
.image2{
    border:1px solid grey;
    width:100%;
    text-align: center;
}
.image2 img{
    padding-top: 40px;
}
.image2 h1{
    font-weight: 800;
    padding-top: 40px;
    font-size: 13px;
    color:rgb(0, 39, 90);
}
.image2 p{
    font-weight: 800;
    font-size: 15px;
    color:  rgb(0, 0, 255);
}
.image2 del{
    font-size: 12px;
    padding: 0 20px;
    color:rgb(89, 87, 87);
}
.image3{
    display: flex;
    justify-content: center;
}
.image4{
    border:1px solid grey;
    background-color: black;
    width:233px;
    padding:40px 20px;
}
.image4 h1{
    font-weight: 800;
    color: white;
    font-size: 25px;
}
.image4 p{
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding-top: 10PX;
}
.btn{
    padding-top: 80px;
}
.image4 button{
    background-color: rgb(0, 0, 255);
    color: white;
    font-size: 15px;
    width: 130px;
    padding: 10px;
    border-radius: 20px;
}
.image4 button:hover{
    background-color: red;
}
.image5{
    border:1px solid grey;
    width:25%;
    text-align: center;
}
.image5 img{
    padding-top: 40px;
}
.image5 h1{
    font-weight: 800;
    padding-top: 40px;
    font-size: 13px;
    color:rgb(0, 39, 90);
}
.image5 p{
    font-weight: 800;
    font-size: 15px;
    color:  rgb(0, 0, 255);
}
.image5 del{
    font-size: 12px;
    padding: 0 20px;
    color:rgb(89, 87, 87);
}

.image6{
    border:1px solid grey;
    background-image:url(runner.jpg);
    background-repeat: no-repeat;
    background-size: 600px;
    width:50%;
}

.image6 h1{
    font-weight: 800;
    color: white;
    padding:40px;
    font-size: 35px;
}
.btn1{
    padding: 20px 40px;
}
.image6 button{
    background-color: rgb(40, 193, 196);
    color: white;
    font-size: 15px;
    width: 130px;
    padding: 10px;
    border-radius: 20px;
}
.image6 button:hover{
    background-color:rgb(0, 0, 255);
}
.image7{
    display: flex;
    justify-content: center;
}
.image8{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn2{
    border-radius:20px;
    box-shadow:-7px -7px 20px rgba(0, 0, 0, 0.75),
    7px  7px 20px rgba(0, 0, 0, 0.75); 
    padding: 10px;
    width: 130px;
    background-color: white;
}
.btn2 button{
    background-color:rgb(0, 0, 255);
    margin: 20px;
    color: white;
    padding: 10px;
    width: 90px;
    border-radius: 20px;
    font-size: 10px;
}
.btn2 button:hover{
    background-color: red;
}
/* SECTION-3 */
.image9{
    display:grid;
    grid-template-columns: repeat(4,270px);
    /* grid-template-rows: repeat(2,1fr); */
}
.text10 img{
    /* border: 0.1px solid grey; */
}
.image10{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    row-gap: none;
    column-gap: none;
}
/* FOOTER */
.footer-text{
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 450px;
}
.text15{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 70px;
    
}
.text11 h1{
    font-size:18px;
    color: blue;
}
.text11 p{
    color:white;
    font-size: 12px;
    padding: 10px;
}
.text12 h1{
    font-size:18px;
    color: blue;
}
.footer-icon{
    padding:40px 0;
}
.footer-icon i{
    background-color: white;
    height: 15px;
    width: 15px;
    padding: 10px;
    border-radius:20px;
}
.text13 h1{
    font-size:18px;
    color: blue;
    
}
.text13 input{
    background-color: rgb(52, 51, 51);
    border:none;
    height: 20px;
    border-radius: 20px;
}
.footer-button{
    padding-top: 20px;
    
}
.footer-button button{
    background-color:rgb(0, 0, 255);
    color: white;
    padding: 10px;
    width: 90px;
    border-radius: 20px;
    font-size: 10px;
}
.footer-ending{
    display: flex;
    color: rgb(60, 61, 62);
    flex-direction: column;
    border-top:1px solid ;
}
.footer-ending p{
    color:white;
    text-align:center;
    padding-top: 30px;
    font-size: 15px;
}
