*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: sans-serif;
    background-color: rgb(196, 188, 188);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 50px;
    gap: 140px;
}
.text{
    width: 390px;
    background-color:rgb(196, 196, 196);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    height: 15px;
    padding: 10px;
}
.text input{
    background-color:rgb(196, 196, 196);
    width: 300px;
    border:none;
   
}
.text1{
    display: flex;
    gap: 20px;
}
.btn{
    padding: 7px 0;
}
.btn button{
   background-color: rgb(89, 7, 165);
   padding: 5px;
   border: none;
   border-radius: 20px;
   color: white;
   width: 80px;
   cursor: pointer;
}
.btn button:hover{
    background-color: red;
}
.image img{
    border-radius: 20px;
}
/* SECTION-1 */
.section-1{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main{
    display: flex;
    padding: 10px;
    width: 170px;
    background-color: white;
    border-radius: 15px;
    height: 40px;
    gap: 10px;
}
.image1 img{
    border-radius: 20px;
}
.text2 h1{
    font-size: 17px;
}
.text2 p{
    font-size: 12px;
    color: grey;
}
.main1{
    width: 150px;
    height: 380px;
    background-color: white;
    border-radius: 15px;
    padding: 20px 20px;
}
.image2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.image3 a{
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
}
.image3 a:hover {
    color: rgb(89, 7, 165) ;
}
.image4{
    padding:30px 0;
}
.image4 button{
    width: 150px;
    background-color:rgb(89, 7, 165);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.image4 button:hover{
    background-color: red;
}
.img-flex{
    display: flex;
    gap: 10px;
}
.main2{
   display:flex;
   flex-direction: column;
   gap: 10px;
   color: white;
}

.image6{
    background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.5)),url(story-1.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width:90px;
    height: 150px;
}
.image6 img{
    border-radius: 20px;
    border: 2px solid rgb(89, 7, 165) ;
}
.text3 h1{
    font-weight: 100;
    font-size: 12px;
}
.image7{
    background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.5)),url(story-2.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width:90px;
    height: 150px;
}
.image7 img{
    border-radius: 20px;
    border: 2px solid rgb(89, 7, 165) ;
}
.image8{
    background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.5)),url(story-3.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width:90px;
    height: 150px;
}
.image8 img{
    border-radius: 20px;
    border: 2px solid rgb(89, 7, 165) ;
}
.image9{
    background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.5)),url(story-4.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width:90px;
    height: 150px;
}
.image9 img{
    border-radius: 20px;
    border: 2px solid rgb(89, 7, 165) ;
}
.image10{
    background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.5)),url(story-5.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width:90px;
    height: 150px;
}
.image10 img{
    border-radius: 20px;
    border: 2px solid rgb(89, 7, 165) ;
}
.image11{
    background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.5)),url(story-6.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width:90px;
    height: 150px;
}
.image11 img{
    border-radius: 20px;
    border: 2px solid rgb(89, 7, 165);
}
.text14{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    height: 50px;
    width: 590px;
    gap:150px;

}
.text14 button{
    height: 25px;
    width: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color:rgb(89, 7, 165);
}
.text14 img{
    border-radius: 20px;
}
.text14 p{
    font-size: 12px;
    color: rgb(95, 95, 95);
}
.text15{
    display: flex;
    
    
    gap:10px;
}
.text15 img{
    border-radius: 20px;
}

.text16 h1{
    font-size: 13px;
    color: black;
}
.text16 p{
    font-size: 11px;
    color: black;
}
.image14{
    padding:5px 0;
}
.image14 img{
    border-radius:15px;
    width:550px;
}
.image19{
    padding:5px 0;
}
.image19 img{
    border-radius:15px;
    width:550px;
}
.image20{
    padding:5px 0;
}
.image20 img{
    border-radius:15px;
    width:550px;
}
.icon2{
    padding: 0 15px;
}
.text17{
    padding: 20px;
}
.image18{
    display: flex;
    padding:0 10px;
    gap: 15px;
}
.main5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: 550px;
    width: 590px;
    border-radius: 15px;
}
.image15 img{
    border-radius: 15px;
    border: 2px solid;
}
.image16 img{
    border-radius: 15px;
    border: 2px solid;
    margin-left:-25px;
}
.image17 img{
    border-radius: 15px;
    border: 2px solid;
    margin-left:-25px;
}
.text18 p{
    color: black;
    font-size: 13px;
    padding: 5px 0;
}
.text19{
    color:black;
    font-size: 13px;
    padding:0 10px;
}
.text20{
    color:rgb(99, 98, 98);
    font-size: 13px;
    padding: 20px 10px;
}
 .main3{
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 400px;
}
.image12{
    display: flex;
    gap: 75px;
    padding: 10px;
}
.image12 h1{
    font-size: 15px;
}
.text4{
    padding: 5px;
    height: 20px;
}
.text5{
    display: flex;
    background-color:rgb(196, 188, 188);
    border-radius:20px ;
    padding: 5px;
    gap: 10px;
}
.text5 input{
    border: none;
    font-size: 12px;
    width: 100px;
    background-color:rgb(196, 188, 188);
}
.text6{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.text6 h1{
    font-size: 11px;

}
.text6 h2{
    font-size: 11px;
    color:rgb(89, 7, 165);
}
.text7{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 10px;
}
.text8{
    display: flex;
    gap: 10px;
}
.text8 img{
    border-radius: 20px;
}
.text8 h1{
    font-size: 12px;
}
.text8 p{
    font-size: 12px;
    color: rgb(91, 90, 90);
}
.text10{
    color: rgb(91,90,90);
    font-size: 12px;
    padding: 15px 0;
}
.main4{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text11{
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    border-radius:10px;
    gap: 10px;
}
.text11 img{
    border-radius: 20px;
}
.text12 h1{
    font-size: 13px;
}
.text12 p{
    font-size: 15px;
    color: rgb(85, 84, 84);
}
.text13{
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 110px;
}
.btn1{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn1 button{
    background-color:rgb(89, 7, 165);
    color: white;
    width: 70px;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.btn1 button:hover{
    background-color: red;
} 